<div>
    <h3>{{date}}</h3>
    <p>Proud of: {{proudOf}}</p>
    <p>Habits:
        {{#if habits.exercise}}Exercise{{/if}}
        {{#if habits.read}}Read{{/if}}
        {{#if habits.clean}}Clean{{/if}}</p>
    <p>Mood: {{mood}}</p>
</div>