/* public/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type='checkbox'] {
    margin-right: 10px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

.logs .header,
.logs #logsContainer .log {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.logs #logsContainer .log {
    height: 30px;
}

.logs #logsContainer .log .log-habits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logs .header .habits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logs .header .habits p {
    transform: rotate(-65deg);
}
